h1 {
    font-weight: bold;
    text-align: center;
}

table {
    padding: 20%;
    text-align: center;
}

td {
    width: 200px;
    height: 200px;
    text-align: center;
}

.left {
    border-right: 4px solid black;
}

.top {
    border-bottom: 4px solid black;
}

.bottom {
    border-top: 4px solid black;
}

.right {
    border-left: 4px solid black;
}
